<body>
    <header class="site-header sticky-top mb-auto">
        <nav class="navbar navbar-expand-lg bg-dark px-3" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="./">nas 🍵</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
                    <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="./">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="./about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>



    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light main-text">
            <div class="visual-1 shadow-sm d-none d-md-block"></div>
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">My Work</h1>
                <p class="lead fw-normal">
                    Every project I choose is special to me and is not just another set of tasks, but <b>a work of
                        art</b>.
                </p>
                <p>
                    I specialize in computer hardware of <i>all shapes and sizes*</i> for <i>all purposes</i>, and have
                    <i>years of experience</i>. Whatever your budget or purpose, the device you use from me will <b>look
                        amazing, last long and fit your needs.</b>
                </p>
                <p>
                    I also specialize in creating <b>custom-tailored beautiful and functional websites</b> that are
                    accessible on all devices from PC to phone and tailored to your needs and goals.
                </p>

            </div>
            <div class="visual-2 shadow-sm d-none d-md-block"></div>
            <span class="small">* Desktops, Laptops and Workstations</span>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Who am I?</h2>
                    <p class="lead">
                        <b>I am very devoted to my work</b>, but as a person transcend that.<br>As a creative soul I
                        always <b>look to innovate</b> and find ways to <b>meet the requirements</b>, even in tough
                        situations. I constantly am thinking of ways to <b>bring about positive change</b> in the world
                        and <b>help others</b>, covertly if necessary. <b>Expressing myself</b> and <b>chasing
                            perfection</b> is not just my hobby or personality, it is my <i>way of the artist</i>
                        and <i>way of life</i>. <br>When working, the distractions are put away and <b><i>I am
                                serious</i></b>, but that does not stop my passion.
                    </p>
                </div>
            </div>
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden flex-md-equal">
                <div class="my-3 p-3">
                    <h2 class="display-5">Education</h2>
                    <p class="lead">During my life I have studied at:</p>
                    <ul class="education cust-list">
                        <li>
                            <b>The Open University in London</b> for a <i>Bachelor's Degree in Computing & IT and
                                Design</i> as a second subject
                        </li>
                        <li>
                            <b>Softuni</b> online for a <i>C# Web Developer Diploma</i>
                        </li>
                        <li>
                            JustIT for a <i>Level 4 <b>Business Analysis Apprenticeship</b> Qualification</i> while
                            working at <b>Schroders</b> in London
                        </li>
                        <li>
                            <b>Tianjin International Chinese College</b> before it disbanded in 2020
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden flex-md-equal">
                <div class="my-3 p-3">
                    <h2 class="display-5">Can I interest you in a computer?</h2>
                    <p class="lead">No matter your level of understanding, experience, budget or device purpose, we can
                        make something happen.</p>
                    <div class="card">
                        <div class="card-header">
                            <ul class="skills cust-list">
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#desktop">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1lxdDa1v-IJF8e-SeI1ev_m5k933H_L0L">
                                    </button>
                                </li>
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#laptop">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1lx9VWgx2x9yDj4YvuayEnM3pkydvLAcf">
                                    </button>
                                </li>
                                <li>
                                    |
                                </li>
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#data">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1lzl2ZBPcGz723yr8ZvY-t7Q7rfIEw0nN">
                                    </button>
                                </li>
                                
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#fix">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1lySj6ytP5y48fUI7i1Ymre7MIj0a5CTW">
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item collapse" id="desktop">
                                <b>Desktop</b>, Availability: High<br>
                                For those who need a powerful and reliable workstation, whether for gaming or work, a
                                desktop offers unbeatable performance and customization. With a range of components and
                                form factors, I will engineer the perfect desktop for your needs and keep you informed
                                throughout the whole process.
                            </li>
                            <li class="list-group-item collapse" id="laptop">
                                <b>Laptop</b>, Availability: Medium<br>
                                For those who travel, change positions or simply find a comfort in the form factor, I
                                can engineer the perfect laptop for you. Laptops are still extremely customizable and
                                offer a wide variety of performance that is bound to meet your needs and more!
                            </li>
                            <li class="list-group-item collapse" id="data">
                                <b>Data Recovery</b>, Availability: High<br>
                                Oops, had an issue and worried about your data? I can offer recovery of all your data
                                without prying and do a clean reinstall (or upgrade) of your Operating System.
                            </li>
                            <li class="list-group-item collapse" id="fix">
                                <b>Repair/Refurbish</b>, Availability: Medium<br>
                                Attached to your current computer? Not to worry, with a quick and free assessment of the
                                situation and all possible factors, I will offer you a quick report taking into account 
                                your intentions. I can revamp laptops and desktops with vinyl skins/stickers, upgrade 
                                RAM/SSD/CPU if not soldered, replace certain keyboards, etc. at a low cost.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Can I interest you in a website?</h2>
                    <p class="lead">
                        So long as you have a clear intention and purpose for your website, we can always turn our
                        vision into a reality. I work with the below technologies...
                    </p>
                    <div class="card" data-bs-theme="dark">
                        <div class="card-header">
                            <ul class="skills cust-list">
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#html">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1ugAmII_j_F6XpJC81H-HjCxqbnbRjRSz">
                                    </button>
                                </li>
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#css">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1vCmtdlpJbXtiUA3jZBV7-On3w8Cu0wHi">
                                    </button>
                                </li>
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#js">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1v95-NFu1ZDeoo6KVH-JusEebFWdrEkyd">
                                    </button>
                                </li>
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#cs">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1v7MCCr3kaL5IR8jnPf_Eo-vQJnUOf7fe">
                                    </button>
                                </li>
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#db">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1vIAI7FfkQ8t7W7ZSx7D5SV9Jxkea5Sbv">
                                    </button>
                                </li>
                                <li>
                                    <button data-bs-toggle="collapse" data-bs-target="#pyth">
                                        <img
                                            src="https://drive.google.com/uc?export=view&id=1v5WAD5LysBJXRRPK7bkJqZDHAr424KUp">
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item collapse" id="html">
                                <b>HTML Proficiency: High</b><br>
                                HTML is the standard markup language for creating web pages and web applications, used
                                to structure and present content on the web, and provides me the framework for creating
                                visually engaging websites.
                            </li>
                            <li class="list-group-item collapse" id="css">
                                <b>CSS Proficiency: Medium-High</b><br>
                                CSS is how I bring the presentation of my sites to life, implementing the layout and
                                design just the way we plan out.
                            </li>
                            <li class="list-group-item collapse" id="js">
                                <b>JS Proficiency: Medium</b><br>
                                JavaScript is used to create dynamic and interactive webpages, which allows me to add
                                special behavior to webpages, making them even more responsive and functional, and often
                                adds the finishing touch to our web app.
                            </li>
                            <li class="list-group-item collapse" id="cs">
                                <b>C# Proficiency: Medium-High</b><br>
                                C# is my preferred programming language when working with APIs and creating various
                                types of applications.
                            </li>
                            <li class="list-group-item collapse" id="db">
                                <b>Database Proficiency: Medium-Low</b><br>
                                For projects requiring a lot of data, a database may suit our needs; I can design,
                                create, read from, update and delete from SQL databases, as well as create functions and
                                stored procedures, but have limited experience.
                            </li>
                            <li class="list-group-item collapse" id="pyth">
                                <b>Python Proficiency: Medium-Low</b><br>
                                As a scripting language, Python can be used for an alternative approach to websites
                                altogether using Flask, but my main use for Python is console applications.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">What about work experience?</h2>
                    <p class="lead">
                        Over the years I have worked as:
                    </p>
                    <ul class="job cust-list">
                        <li>
                            <b>A League of Legends ELO Booster</b>, raising the rank of video game players with lower
                            skill levels than myself
                        </li>
                        <li>
                            <b>A Business Analyst at Schroders</b><i> for 2 years</i>, where I was funded to complete
                            my Business Analyst qualification.
                        </li>
                        <li>
                            <b>A freelancer</b>,
                            <ul style="list-style: none; padding-left: 0;">
                                <li>
                                    <i>a.</i> Fixing and building computers for individual clients or to sell online.<i>
                                        Have worked with computer hardware for over 5 years.</i>
                                </li>
                                <li style="padding-left: 16px;"><i>and</i></li>
                                <li>
                                    <i>b.</i> Creating professional websites from design to code.<i> Have been working
                                        on web development projects for over 2 years.</i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div
                class="bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden flex-md-equal">
                <div class=" my-3 py-3">
                    <h2 class="display-5">Additional Qualifications?</h2>
                    <p class="lead">
                        So far just passed <b>HSK 6 with over 81%</b> which makes me <i>proficient in
                            Mandarin</i>.</p>
                        <p class="lead">
                            Currently studying in Japan, aspiring to take JLPT N1 some day.
                        </p>
                    <p class="lead">
                        I am fluent in <b>Bulgarian</b> and <b>English</b>, and have completed some form of higher
                        education/professional qualification in both languages.
                    </p>
                    <p class="lead">
                        I also have a YouTube channel where am looking to post content in the near future!
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer class="container text-center">
        <p>
            nas 🍵 portfolio website coded using <a href="https://angular.io/" target="_blank">Angular</a>, <a
                href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a> and <a
                href="https://en.wikipedia.org/wiki/CSS" target="_blank">CSS</a>.
        </p>
        <p class="contact-links">
            <a href="https://github.com/hiimnas" target="_blank"><i class="bi bi-github"></i></a> ·
            <a href="https://www.linkedin.com/in/anastasios-karameros-2470111b0/" target="_blank"><i
                    class="bi bi-linkedin"></i></a> · 
            <a href="https://www.ebay.co.uk/usr/anastkara_58" target="_blank"><i class="bi bi-shop"></i></a> · 
            <a href="https://www.youtube.com/channel/UCXeYoMBug5Suflf2BtCjuhQ" target="_blank"><i class="bi bi-youtube"></i></a>
        </p>
    </footer>
</body>