<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">nas 🍵</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="./">Home</a>
                    <a class="nav-link" href="./about">About</a>
                    <a class="nav-link" href="./projects">Projects</a>
                    <a class="nav-link" href="./contact">Contact</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>Hi, I'm nas 🍵</h1>
            <p class="lead">
                <i><b>Art is freedom</b> and I aim to find the art in everything.</i>
            </p>
            <p class="lead">
                <b>PC Hardware Specialist</b> and <b>Website Designer & Developer</b> that has been in the game for
                years and will make sure you get <b>exactly what you need without the fuss</b>.
            </p>
            <p class="lead btns">
                <a href="./about" class="btn btn-md btn-primary">Learn more</a>
                <a href="./projects" class="btn btn-md btn-light">My Projects 》</a>
            </p>
        </main>

        <footer class="container text-center">
            <p>
                nas 🍵 portfolio website coded using <a href="https://angular.io/" target="_blank">Angular</a>, <a
                    href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML</a> and <a
                    href="https://en.wikipedia.org/wiki/CSS" target="_blank">CSS</a>.
            </p>
            <p class="contact-links">
                <a href="https://github.com/hiimnas" target="_blank"><i class="bi bi-github"></i></a> ·
                <a href="https://www.linkedin.com/in/anastasios-karameros-2470111b0/" target="_blank"><i
                        class="bi bi-linkedin"></i></a> · 
                <a href="https://www.ebay.co.uk/usr/anastkara_58" target="_blank"><i class="bi bi-shop"></i></a> · 
                <a href="https://www.youtube.com/channel/UCXeYoMBug5Suflf2BtCjuhQ" target="_blank"><i class="bi bi-youtube"></i></a>
            </p>
        </footer>
    </div>
</body>